* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #A27C61;
  --secondary-bg-color: #FFF6EC;
  --btn-bg-color: #A27C61;
  --btn-text-color: #fff;
  --btn-hover-bg-color: #7E5B45;
  --btn-hover-text-color: #fff;
  --btn-border-radius: 5px;
  --h2-color: #A27C61;
  --text-color: #534439;
}

body {
  font-family: 'Jost', sans-serif;
}
header {
  background-image: url("../images/background.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  padding: 0% 4%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

nav img {
  width: 95px;
  line-height: 80px;
}

.checkbtn {
  display: block;
  font-size: 25px;
  color: var(--secondary-bg-color);
  float: right;
  line-height: 55px;
  margin-right: 0px;
  cursor: pointer;
}

.nav-links {
  flex: 1;
  text-align: right;
  z-index: 999
}

.nav-links ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the transparency here */
  backdrop-filter: blur(10px); /* Adjust the blur radius here */
  top: 63px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}

.nav-links ul li {
  display: block;
  margin: 50px 0;
}

.nav-links ul li a {
  font-size: 20px;
  color: var(--btn-text-color);
  text-decoration: none;
}

.btn-book-now {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--btn-hover-bg-color);
  color: var(--secondary-bg-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-book-now:hover {
  background-color: var(--btn-bg-color);
  /* Change to your desired button hover color */
}


#check {
  display: none;
}

#check:checked~ul {
  left: 0;
}

.hero{
  margin-left: 15px;
}
.container {
  position: relative;
  width: 85%;
  padding: 0.5% 4%;
  align-items: center;
}
.intro-wrap {
  text-align: center;
  margin: 50px 0;
  width: 100%;
  color: var(--primary-bg-color);
}
.intro-wrap h1{
  font-size: 65px;
  font-weight: 600;
  color: #FFF6EC;
}
.form-control {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-bg-color);
  border-radius: 0;
  width: calc(100% - 12px);
  transition: width 0.5s ease;
  font-size: 15px;
  color: #333;
}

.form-control:focus {
  outline: none;
  border-color: var(--primary-bg-color);
}

.form-control:focus {
  outline: none;
  border-color: var(--primary-bg-color);
}

.select-wrapper {
  position: relative;
}

  .select-selected {
    position: relative;
    display: inline-block; /* Change display to inline-block */
    cursor: pointer;
    white-space: nowrap; /* Prevent wrapping */
}

.select-items {
  position: absolute;
  background-color: #FFF6EC; /* Adjust background color as needed */
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  z-index: 999;
  width: 100%;
  display: none;
  overflow: hidden; /* Hide overflow to ensure smooth animation */
  transition: height 0.3s ease-in-out; /* Add transition for height */
  height: 0; /* Initially set height to 0 */
}

.select-items.select-show {
  display: block;
  height: auto; /* Set height to auto to reveal dropdown content */
}


.select-items div {
  padding: 8px 16px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: rgba(162, 124, 97, 0.1);
}

.btn.btn-primary {
    color: #FFF6EC; /* Set text color to #FFF6EC */
}

@media (max-width: 768px) {
  .header{
    height: 67vh;
  }

  nav img{
    width: 100px;
  }

  .intro-wrap h1{
    font-size: 30px;
    font-weight: 600;
  }
  .hero {
    margin-top: 10px 0; /* Adjust this value as needed for smaller screens */
    border-radius: 5px;
    width: 100%;
  }
  .container {
    position: relative;
    width: 100%;
  }
}


.destinations {
  padding: 3% 4%;
  width: 100%;
  background-color: #FFF6EC;
}

.word {
  font-weight: 500;
  color: #534439;
  
}

.word h2 {
  font-size: 20px;
}


.gallery {
  margin-top: 15px;
}

.gallery-thumb {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: calc(16.66% - 15px);
  height: 280px;
}

.gallery-thumb:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(rgba(221, 196, 170, 0.8));
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}

.gallery-thumb img {
  transform: scale(1.03);
  transition: .3s transform ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.gallery-thumb .gallery-text {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 13px;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: .3s all ease;
  margin-top: 10px;
  width: 100%;

}

.gallery-thumb .gallery-text h3 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
}

.gallery-thumb .gallery-text .location {
  font-size: 12.8px;
  color: #fff;
}

.gallery-thumb:hover {
  z-index: 3;
}

.gallery-thumb:hover h3 {
  color: #ffffff;
}

.gallery-thumb:hover .location {
  color: rgba(255, 255, 255, 0.5);
}

.gallery-thumb:hover img {
  transform: scale(1);
}

.gallery-thumb:hover:after {
  opacity: 1;
  visibility: visible;
}

.gallery-thumb:hover .gallery-text {
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}

.gallery-thumb .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23%;
  background-color: rgba(0, 0, 0, 0.3);
  /* Adjust the alpha value for transparency */
  z-index: 2;
}

/* Clearfix for gallery container */
.gallery::after {
  content: "";
  display: table;
  clear: both;
}

.gallery-thumb .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Adjust the height of the overlay */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)); /* Apply a gradient */
  z-index: 2;
}

.gallery-thumb:hover .overlay {
  opacity: 1;
}

/* For large screens */
@media (min-width: 992px) {
  .gallery-thumb {
    width: calc(16.66% - 15px);
  }
}

/* For medium screens */
@media (max-width: 991px) {
  .gallery{
    margin-top: 15px;
  }
  .gallery-thumb {
    width: calc(25% - 15px);
  }
  .gallery-thumb img {
    width: 100%;
    height: auto; /* Ensure aspect ratio is maintained */
    object-fit: contain; /* Ensure the entire image fits within the container */
  }
}

/* For small screens */
@media (max-width: 768px) {
  
  .gallery-thumb {
    width: calc(50% - 15px);
  }

  .word h2 {
    font-size: 20px;
    margin-top: 15px;
  }
}

/* For extra small screens */
@media (max-width: 576px) {
  .gallery-thumb {
    width: calc(100% - 15px);
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .word h2 {
      margin-left: 10px;
    }
  }
  
  .did-you-know-section {
    padding: 0% 4%;
    width: 100%;
    position: relative;
    background-color: #FFF6EC;
  }
  
  .did-you-know-content {
    position: relative;
    color: #fff;
    z-index: 1;
    text-align: center;
  }
  
  .did-you-know-content h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .carousel-item h2{
    font-size: 17px;
    font-weight: 600;
  }
  .carousel-item p {
    font-size: 15px;
  }

  
  .card-blue {
    background-color: var(--primary-bg-color);
    color: var(--secondary-bg-color);
}

.section {
    background-color: var(--primary-bg-color);
}

.container {
    padding: 20px;
}

.activities {
  padding: 2% 4%;
  background-color: #FFF6EC;
}


.activities-container {
  margin: 0 auto;
  width: 100%;
}

.activities h2 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.activity-item {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Align text to the left */
}

.activity-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.activity-item .country{
  font-size: 13px;
  font-weight: 400;
}

.activity-item .activity{
  font-size: 18px;
  font-weight: 500;
}

.activity-item .price{
  font-size: 20px;
  font-weight: 600;
}
.activity-item .price .price-extra{
  font-size: 10px;
}

/* CSS to change button text color */
 footer .container .btn-primary {
  color: var(--primary-bg-color); /* Change to your desired text color */
  background-color: var(--secondary-bg-color);
  border: none;
}

footer .list-inline-item .fab{
  color: #FFF6EC;
}
/* CSS to change button hover color */
footer .container .btn-primary:hover {
  background-color: var(--primary-bg-color); /* Change to your desired hover background color */
  color: var(--secondary-bg-color); /* Change to your desired hover border color */
}

